body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(11, 14, 20);

  background-image: 
    linear-gradient(to bottom, transparent 30%, rgb(11, 14, 20) 90%),


   
    radial-gradient(circle at center 20%, transparent 5%, rgb(11, 14, 20) 70%),
    

    repeating-linear-gradient(
      to bottom,
      transparent 0px,
      transparent 39px,
      rgba(255, 255, 255, 0.08) 39px,
      rgba(255, 255, 255, 0.08) 40px
    ),
    
    repeating-linear-gradient(
      to right,
      transparent 0px,
      transparent 39px,
      rgba(255, 255, 255, 0.08) 39px,
      rgba(255, 255, 255, 0.08) 40px
    );

  background-size: 
    100% 100%,
    100% 100%,
    40px 40px,
    40px 40px;
}
header {
  display: flex;
  justify-content: space-between;
  font-family: Monospace;
  background-color: rgb(11, 14, 20);
  color: rgb(114, 112, 112);
  padding: 1px 355px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.Head {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 9px;
}

#Tname {
  color: rgb(124, 122, 122);
  font-size: 10px;
  font-weight: bold;
}

#O1 {
  color: orange;
  font-size: 10px;
  font-weight: bold;
}

#O2 {
  color: orange;
  font-size: 10px;
  font-weight: bold;
}



.terminal-window {
  width: 100%;
  max-width: 500px;
  margin: 60px auto 0 auto;
  background-color: #161b22;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  font-family: 'Courier New', Courier, monospace;
  margin: 155px auto 0 auto;
}


.terminal-header {
  background-color: #0f1319;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}


.terminal-dots {
  display: flex;
  gap: 8px;
  margin-right: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dot.red { background-color: #ff5f56; }
.dot.yellow { background-color: #ffbd2e; }
.dot.green { background-color: #27c93f; }

.terminal-title {
  color: #8b949e;
  font-size: 12px;
}


.terminal-body {
  padding: 16px 20px;
  color: #c9d1d9;
  font-size: 13px;
  line-height: 1.35;
  letter-spacing: -0.2px;
}

.terminal-body p {
  margin: 5px 0;
}


.prompt {
  color: #3fb950; 
  font-weight: bold;
}

.cursor {
  color: #f78166; 
  font-weight: bold;
  animation: blink 0.5s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    
}

.hero-content{
    color: white;
    max-width: 450px;
    margin: 40px auto 0 auto;
    font-family: Monospace;
}

.highlight{
    color: orange;
    font-style: monospace;
}

.hero_desc{
    color: rgb(114, 112, 112);
    font-style: monospace;
}



.highlight2{
    color: rgb(15, 103, 218);
    font-weight: bold;
    font-style: monospace;
}
.highlight3{
    color: rgb(255, 166, 0);
    font-weight: bold;
    font-style: monospace;
}


.btn{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 13px;
    display: inline-block;
}

.btn_primary{
    background-color: orange;
    color: black;
    border: 2px solid black;
}

.btn_secondary{
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.hero_btns{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.about_me{
  font-family: monospace;
  margin:  0 auto;
  max-width: 450px;
  flex: 1;
}


.Slashes{
  color: rgb(114, 112, 112);
}

#UeM {
  color: rgb(66 , 175, 162);
}

#AbM {
  color: white;
}

.AbM_desc{
  text-decoration: none;
  font-size: 15.5px;
  color: rgb(128, 126, 126);
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: bold;
}

.li_AbM {
  margin-bottom: 16px;
}

.status-window {
  min-height: 150px;
  max-height: 200px;
  min-width: 400px;
  max-width: 420px;
  margin: 60px auto;
  background-color: #161b22;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  font-family: monospace;
  padding: 8px 24px 20px 24px;
}

#status-row{
  justify-content: space-between;
  display: flex;
  font-size: 15px;
  color: #8891a1;
  margin: 10px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.08);
    padding: 12px 0;
  margin: 0;
}

#status{
  color: #4ccdbd;
}

#stack-row{
  justify-content: space-between;
  display: flex;
  font-size: 15px;
  color: #8891a1;
  margin: 10px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.08);
    padding: 12px 0;
  margin: 0;
}

#stack{
  color: #4ccdbd;
}

#level-row{
  justify-content: space-between;
  display: flex;
  font-size: 15px;
  color: #8891a1;
  margin: 10px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.08);
    padding: 12px 0;
  margin: 0;
}

#level{
  color: #4ccdbd;
}

#standort-row{
  justify-content: space-between;
  display: flex;
  font-size: 15px;
  color: #8891a1;
  margin: 10px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.08);
    padding: 12px 0;
  margin: 0;
}

#standort{
  color: #4ccdbd;
}

#answertime-row{
  justify-content: space-between;
  display: flex;
  font-size: 15px;
  color: #8891a1;
  margin: 10px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.08);
    padding: 12px 0;
  margin: 0;
}

#answertime{
  color: #4ccdbd;
}

.aboutlayout{
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-top: 200px;
}